 <!-- About section -->
 <section class="bg-light text-dark py-5" id="about">
    <div class="container">
      <h3 class="text-center text-uppercase">About</h3>
      <hr class="my-4" />
      <h2 class="fw-normal fs-4 mb-4">Sachin</h2>
      <p class="fs-5">
        I started paddling when I was twelve years old. At fifteen years of
        age, I have made my debut for Serbia's national team. Since then, I
        have won many international medals at Olympic Hopes and European and
        World Championships for Juniors and U23. While competing in the senior
        category, I have qualified to finals at World Championships, European
        Championships, and World Cups. I have been honored to be a part of the
        Serbian Olympic team at the Olympic Games in Tokyo 2020. Outside of
        paddling, I love programming.
      </p>
    </div>
  </section>