
  <!-- Supporters section -->
  <section class="bg-secondary text-dark py-5" id="supporters">
    <div class="container">
      <h3 class="text-center text-uppercase">Supporters</h3>
      <hr class="my-4" />
      <div class="row justify-content-center">
        <div
          class="col-6 col-md-4 col-xl-3 d-flex align-items-center mb-3 mb-md-0"
        >
          <a href="https://www.invendagroup.com/" target="blank">
            <img
              class="img-fluid mx-auto d-block"
              src="assets/supporters/invenda.png"
              alt="Invenda Group"
            />
          </a>
        </div>
        <div
          class="col-6 col-md-4 col-xl-3 d-flex align-items-center mb-3 mb-md-0"
        >
          <a href="https://www.nelo.eu" target="blank">
            <img
              class="img-fluid mx-auto d-block"
              src="assets/supporters/nelo.png"
              alt="Nelo Kayaks"
            />
          </a>
        </div>
        <div class="col-6 col-md-4 col-xl-3 d-flex align-items-center">
          <a href="https://paddles.braca-sport.com" target="blank">
            <img
              class="img-fluid mx-auto d-block"
              src="assets/supporters/braca.png"
              alt="Braca-Sport"
            />
          </a>
        </div>
      </div>
    </div>
  </section>